body{
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(122deg, rgba(2,0,36,1) 51%, rgba(81,9,121,1) 84%, rgba(0,212,255,1) 100%);
  background-size: cover;
  background-attachment: fixed;
}

img#spotify-icon{
    height: 30px; 
    width: 60px; 
    object-fit:cover;
    margin-left: 5px;
}

img#profile-pic{
    height: 30px; 
    width: 30px; 
    object-fit: cover;
    margin-right: 10px;
}


img.user-pic{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border: 5px solid rgba(81,9,121,0.6) ;
    margin-top: -30px;
    z-index: 1;
    position: relative;
}

input#nav-form-placeholder{
    width: 250px;
}

.navbar{
    padding: 5px 30px;
}

#navbar-background-image {
    background-image: url("/static/images/nav-bg.png");
    height: 5px;
    width: 100%;
    position: absolute;
}

hr{
    border-color: aliceblue;
}

hr.subtle-rule{
    border-color: aliceblue;
}

.log-out-background{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    background-image: url("/static/images/signed-out-home.jpg");
    background-size: cover;
    background-position: center center;
  }

.jumbotron{
    background-color: #050505dc;
}

div.general-header{
    background-color: #e707e064;
    height: 50px;
}

/* a.header-info-text{
    font-size: .80rem;
} */

div.card{
    background-color: #121212c9;
}


img.card-image{
    height: 150px;
    width: 150px;
}

img.card-image-small{
    height: 65px;
    width: 65px;
}

/* check if this still does apply */
div.thread-comment{
    background-color: #323131cd; 
}

div.thread-header{
    background-color: #cc00ff25; 
}

div.comment-header{
    background-color: #ea00ff09; 
}

div.mini-content-container{
    background-color: #07e2ff1a; 
}

.text-subtle{
    color: rgba(255, 255, 255, 0.532);
}

.comment-input::placeholder{    
    color: rgba(255, 255, 255, 0.845);
}

.comment-input:focus{
    color: rgba(255, 255, 255, 0.845);
}