{% extends 'base.html' %}
{% block content %}
<div class="log-out-background">
  <div class="container">
    <div class="jumbotron text-white">
      
        <h1>Comment on your favorite Spotify related content</h1>
        <h4>New to Spotify Comments Web App?</h4>
        <p>Sign up now to start your journey!</p>
        <a href="/signup" class="btn btn-primary">Sign up</a>
        <hr>
        <p>or <a href="/login">log in</a> if you're already a member</p>
    </div>
  </div>
</div>
{% endblock %}