{% extends 'base.html' %}

{% block content %}

<div class="container 1">
  <div class="py-4 text-white text-center">
    <!-- i need more padding in here, a jumbotron is too big -->
    <h1 class="h-1">Threads about {{ item.name }}</h1>
  </div>
</div>


<div class="container 2">
  <div class="py-3">
    <div class="card">
      <div class="card-header general-header text-white">
        {{item_type}}
      </div>
      <div class="card-body text-white">
        <div class="row">
            <div class="col-3">
                {% if item_type == "artists" or item_type == "albums"%}
                  {% if item.images %}
                    <img src="{{ item.images[1].url }}" alt="image of the {{item_type}}" class="card-image d-none d-md-inline">
                  {% else %}
                    <img src="/static/images/default-pic.png" alt="image of the artist" class="card-image d-none d-md-inline">
                  {% endif %} 
                {% elif item_type == "tracks" %}
                  {% if item.album.images %}
                    <img src=" {{ item.album.images[1].url }}" alt="image of the album" class="card-image">
                  {% else %}
                    <img src="/static/images/default-pic.png" alt="image of the album" class="card-image">
                  {% endif %}
                {% endif %}
            
            </div>
          <div class="col-6">
            <h3 class="card-title">{{item.name}}</h3>
            {% set artist_list = [] %}
            {% for artist in item.artists %}
              {% set _ = artist_list.append(artist.name) %}
            {% endfor %}
            <p> {{ artist_list|join(", ") }} </p>
            {% if item_type == "albums" %}
                <p>{{ item['release_date'][0:4]}}</p>
                <p> Tracks: {{ item['total_tracks'] }}</p>
            {% elif item_type == "artists" %}
              <p>{{ '{:,}'.format(item.followers.total) }} following</p>
            {% elif item_type == "tracks" %}    
              <p> {{ item.album.release_date[0:4]}}</p>  
              <p id="album">album: {{ item.album.name }}</p>
            {% endif %}
          </div>
          <div class="col-3 ">
            <a class="text-info" href="{{ item.external_urls.spotify }}" target="_blank"> check item on Spotify <i class="fab fa-spotify text-white"></i> </a>
            <form action="/threads/{{item.id}}/add" >
              <input type="hidden" name="item_type" value="{{item_type}}">
              <button class="btn btn-primary btn-sm ">Add a thread</button>
            </form>
          </div>  
        </div>  
      </div>
    </div>
  </div>
</div>


  <!-- Container 3 has all the threads inside -->
<div class="container 3">

  {% for thread_item in thread_item_list %}
  <div class="thread-container">

  <div class="card text-white mt-4 thread-card">
    <div class="card-header general-header thread-header">
      <div class="row">
        <div class="col-6">

          <!-- picture here -->
          <a class="text-decoration-none text-reset header-info-text" href="/users/{{ thread_item.user.id }}" > 
            <img class="rounded-circle" id="profile-pic" src="{{ thread_item.user.image_url }}" alt="{{ thread_item.user.username}}">
            <b>{{thread_item.user.username}}</b>
          </a>
          <small>posted:</small>
        </div>
        <div class="col-6 text-right">
          <small class="muted text-subtle"> <i>{{ thread_item.timestamp.strftime('%d/%m/%Y') }} </i></small>
        </div>
      </div>
    </div>

    <div class="card-body comment-section">
      <div class="row">
        <div class="col-9">
          <h4 class="card-title text-left">"{{ thread_item.title }}"</h4>
          <p class="text-left">{{ thread_item.description }}</p>
        </div>
      </div>
      <!-- comment button goes here -->
      <div class="row">
        <div class="col-12" thread_id="{{ thread_item.id }}" user_id="{{ g.user.id }}" >
          <!-- the id in here is to help it locate faster by the javascript code this is where the bootstrap input group will be included -->
          <button class="btn btn-outline-dark btn-sm btn-block comment-button"> <i class="fas fa-comment"></i> Add a comment</button>
        </div>
      </div>
      <!-- this is just to replicate input the form -->

    </div>
  
  </div>


  
  <div class="container comment-container" comment_container_thread_id ="{{thread_item.id}}" >
  {% if thread_item.comments%}

      
    {% for comment in thread_item.comments%}
      
      <div class="card text-white">
        <!-- start of comment header section   -->
        <div class="card-body  py-0 ">
          <div class="row comment-header">
              <div class="col-10">
                <a class="text-decoration-none text-reset text-xxs" href="/users/{{ comment.user.id }}" > 
                  <small class="text-subtle"><b>{{comment.user.username}}</b> commented:</small>
                </a>
              </div>
              <div class="col-2 text-right ">
                <small class="muted text-subtle text-xxs"> <i>{{ comment.timestamp.strftime('%d/%m/%Y') }} </i></small>
              </div>
            
          </div> 
          <!-- start of comment content section -->
          <div class="row ">
          <div class="col-12 comment-body">
              <p class="text-left">{{ comment.content }}</p>
            </div>  
          </div>
        </div>
        
      </div>
        {% endfor %}

  {% endif %}
  </div>  
  <!-- this </div> closes comment-container -->

  </div>
  <!-- this </div> closes thread-container which groups each thread and comments together-->
  {% endfor %}
</div>
<!-- this </div> closes Container 3 -->



{% endblock %}