{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron text-white ">
        <div class="row justify-content-md-center">
            <div class="col-md-7 col-lg-5">
                <h2 class="join-message">Currently there's not a thread on this item</h2>
                <hr>
                <p>Click here to look for content and start a thread</p>
                <a href="/search/API" class="btn btn-primary">Search for content</a>    
            </div>
        </div>
    </div>
</div>
{% endblock %}