{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="jumbotron text-white ">
      <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-5">
          <h2 class="join-message">First, search for a Spotify content you want to start a thread about</h2>
          <hr>
          <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden'%}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              <div class="form-group">
                <label for="{{field.label.text}}">{{field.label.text}}</label>
              {{ field(placeholder=field.label.text, class="form-control") }}
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-lg btn-block">Search!</button>
          </form>
        </div>
      </div>
    </div>
  </div>



  {% if response %}

  
    <div class="container">
        {% for item in response %}
          <div class="py-3">
            <div class="card">
              <div class="card-header text-white general-header">
                {{item_type}}
              </div>
              <div class="card-body text-white">
                <div class="row">
                  <div class="col-4">
                    {% if item_type == "artist" or item_type == "album"%}
                      {% if item.images %}
                        <img src="{{ item.images[1].url }}" alt="image of the {{item_type}}" class="card-image d-none d-md-inline">
                      {% else %}
                        <img src="/static/images/default-pic.png" alt="image of the artist" class="card-image d-none d-md-inline">
                      {% endif %} 
                    
                    {% elif item_type == "track" %}
                      {% if item.album.images %}
                        <img src=" {{ item.album.images[1].url }}" alt="image of the artist" class="card-image">
                      {% else %}
                        <img src="/static/images/default-pic.png" alt="image of the artist" class="card-image">
                      {% endif %}
                    {% endif %}
                    
                  
                      
                  </div>
                  <div class="col-6">
                    <h3 class="card-title">{{item.name}}</h3>
                    {% set artist_list = [] %}
                    {% for artist in item.artists %}
                      {% set _ = artist_list.append(artist.name) %}
                    {% endfor %}
                    <p> {{ artist_list|join(", ") }} </p>
                    {% if item_type == "album" %}
                        <p>{{ item['release_date'][0:4]}}</p>
                        <p> Tracks: {{ item['total_tracks'] }}</p>
                    {% elif item_type == "artist" %}
                      <p>{{ '{:,}'.format(item.followers.total) }} following</p>
                    {% elif item_type == "track" %}    
                      <p> {{ item.album.release_date[0:4]}}</p>  
                      <p id="album">album: {{ item.album.name }}</p>
                    {% endif %}
                  </div>
                  <div class="col-2">
                    <form action="/threads/{{item.id}}/add" >
                      <input type="hidden" name="item_type" value="{{item_type}}">
                      <button class="btn btn-primary btn-sm">Add thread</button>
                    </form>
                    <a class="text-info text-center" href="{{ item.external_urls.spotify }}" target="_blank"> <i class="fab fa-spotify fa-lg text-white"></i> check item on Spotify </a>
                  </div>  
                </div>    
              </div>          
            </div>
          </div>
        {% endfor %}
    </div>
  {% endif %}

{% endblock %}

