{% extends 'base.html' %}

{% block content %}
<div class="log-out-background">
    <div class="container">
      <div class="jumbotron text-white ">
        <div class="row justify-content-md-center">
          <div class="col-md-7 col-lg-5">

                <h1>{{user.username}} confirm that you want to delete you account</h1>
                <hr>
                <h4>Please check the box and type your password</h4>
                <form method="POST" id="user_form">
                    {{ form.hidden_tag() }}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                    
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    
                        {% if field.type == "BooleanField" %}
                        <div class="form-group">
                            <div class="form-check">
                                {{ field(class="form-check-input") }} {{ field.label(class="form-check-label") }}
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            {{ field(placeholder=field.label.text, class="form-control") }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    <button class="btn btn-danger btn-lg btn-block">Confirm delete</button>
                    </form>
                    <a href="/users/{{ g.user.id }}" class="btn btn-outline-warning btn-lg btn-block my-3" role="button" aria-pressed="true">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}