{% extends 'base.html' %}

{% block content %}


<div class="container 1">
    <div class="pt-5 pb-3 mx-md-5 text-white text-center">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-0">
                        <img class="d-none d-md-inline rounded-circle user-pic"  src="{{ user.image_url }}" alt="{{ user.username}}">
                    </div>
                    <div class="col-md-4 col-12">
                        <h2 class="text-h3">{{user.username}}</h2> 
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- this container has the user info -->

<div class="container 2 md-container-fluid">
    <div class="jumbotron text-center text-white py-4">
        <h4 class="text-subtle">Check out {{user.username}}'s activity on Spotify Comments Web App</h4>
    {% for thread_item in user.threads %}

      <div class="thread-container">
    
        <div class="card text-white mt-4 thread-card">
          <div class="card-header general-header thread-header">
            <div class="row">
              <div class="col-9 text-left">
                  <a class="text-decoration-none text-reset header-info-text" href="/users/{{ thread_item.user.id }}" > 
                    <img class="rounded-circle" id="profile-pic" src="{{ thread_item.user.image_url }}" alt="{{ thread_item.user.username}}">
                    <b>{{thread_item.user.username}}</b>
                  </a>
                  <small>started a 
                    <a class="text-decoration-none text-reset header-info-text" href="/user-thread/{{thread_item.id}}">
                      <b>thread</b>
                    </a> on an {{thread_item.spotify_content.content_type_name}} :
                  </small>
              </div>
              <div class="col-3 text-right">
                <small class="muted text-subtle"> <i>{{ thread_item.spotify_content.timestamp.strftime('%d/%m/%Y') }} </i></small>
              </div>
            </div>
          </div>
    
        <div class="card-body comment-section">

          <div class="row pb-2 align-items-center">
            <!-- There's a conditional to detect the kind of item (artist, album, track) since the data to acces each one of those categories is
              different there's a lot of repeated code to fill up correctly those categories and also add <a> to the each of the elements inside the card -->
            
              {% if thread_item.spotify_content.content_type_name == 'artist'%}
                <div class="col-3">
                    <a href="/threads/{{thread_item.spotify_content_id}}">
                        <img src="{{ thread_item.spotify_content.artist.preview_url }}" alt="image of the artist" class="card-image-small d-md-inline">
                    </a>
                </div>
                <div class="col-6 text-left">
                    <a class="text-decoration-none text-reset header-info-text" href="/threads/{{thread_item.spotify_content_id}}">
                        <p class="card-title ">{{ thread_item.spotify_content.artist.name }}</p>
                    </a>
                    <small class="text-subtle">{{ '{:,}'.format(thread_item.spotify_content.artist.followers) }} following</small>                        
                </div>
            {% elif thread_item.spotify_content.content_type_name == 'album'%}
                <div class="col-3">
                    <a href="/threads/{{thread_item.spotify_content_id}}">
                        <img src="{{ thread_item.spotify_content.album.preview_url }}" alt="image of the album" class="card-image-small d-md-inline">
                    </a>
                </div>
                <div class="col-6 text-left">
                  <a class="text-decoration-none text-reset header-info-text" href="/threads/{{thread_item.spotify_content_id}}">
                    <p class="mb-1  card-title">{{ thread_item.spotify_content.album.name }} <small class="my-0 text-subtle"> ({{ thread_item.spotify_content.album.release_date}})</small></p>
                  </a>
                  {% set artist_list = [] %}
                  {% for artist in thread_item.spotify_content.album.artists %}
                    {% set _ = artist_list.append('<a class="text-decoration-none text-reset header-info-text" href="/threads/'~ artist.spotify_id ~'">'~ artist.name ~' </a>') %}
                  {% endfor %}
                  <small class="my-0 text-subtle">{{ artist_list|join(", ")|safe }}</small><br>
                  <small class="my-0 text-subtle">tracks: {{ thread_item.spotify_content.album.total_tracks }}</small>
                </div>
            {% elif thread_item.spotify_content.content_type_name == 'track'%}
                <div class="col-3">
                  <a href="/threads/{{thread_item.spotify_content_id}}">
                    <img src="{{ thread_item.spotify_content.track.album.preview_url }}" alt="image of the album" class="card-image-small d-md-inline">    
                  </a>
                </div>
                <div class="col-6 text-left">
                  <a class="text-decoration-none text-reset header-info-text" href="/threads/{{thread_item.spotify_content_id}}">  
                    <p class="mb-1">{{ thread_item.spotify_content.track.name }} <small class="my-0 text-subtle"> ({{ thread_item.spotify_content.track.album.release_date}})</small></p>
                  </a>
                  {% set artist_list = [] %}
                  {% for artist in thread_item.spotify_content.track.artists %}
                    {% set _ = artist_list.append('<a class="text-decoration-none text-reset header-info-text" href="/threads/'~ artist.spotify_id ~'">'~ artist.name ~' </a>') %}
                  {% endfor %}
                  <small class="my-0 text-subtle">{{ artist_list|join(", ")|safe }}</small><br>
                  <a class="text-decoration-none text-reset header-info-text" href="/threads/{{thread_item.spotify_content.track.album.spotify_id}}">    
                    <small class="my-0 text-subtle">album: {{ thread_item.spotify_content.track.album.name }}</small>
                  </a>
                </div>           
            {% endif %}              
          </div>
            <hr class="subtle-rule">
           
            <div class="row">
                <div class="col-9">
                    <h4 class="card-title text-left">"{{ thread_item.title }}"</h4>
                    <p class="text-left">{{ thread_item.description }}</p>
                </div>
            </div>
            <!-- comment button goes here -->
            <div class="row">
                <!-- The input to add comments goes here -->
            </div>
            <!-- this is just to replicate input the form -->
    
        </div>
        
        </div>
    
    
        

    
        </div>
        <!-- this </div> closes thread-container which groups each thread and comments together-->
    {% endfor %}
    </div>
    <!-- This is the end of the jumbotron -->



</div>


<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/javascript/app.js"></script>

{% endblock %}